body{
    background: rgb(5,0,98);
    background: linear-gradient(90deg, rgba(5,0,98,1) 0%, rgba(9,9,121,1) 35%, rgba(0,12,80,1) 100%); 
    align-items: center;
}
#title{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 0px;
}
h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 20px;
    margin-bottom: 0px;
}
#contact{
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
#experience{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#experience:hover { text-shadow: 0 0 5px white; }
a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-shadow: 0 0 5px #96FF00;
    color: #96FF00;
}